<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Logo">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <!-- Médicos -->
          <li class="nav-item">
            <a class="nav-link {% if segment == 'medicos' %} active {% endif %}" href="{% url 'lista_medicos' %}">
              <i class="ni ni-bullet-list-67 text-primary"></i>
              <span class="nav-link-text">Lista de Médicos</span>
            </a>
          </li>

          <!-- Pacientes -->
          <li class="nav-item">
            <a class="nav-link {% if segment == 'pacientes' %} active {% endif %}" href="{% url 'lista_pacientes' %}">
              <i class="ni ni-single-02 text-success"></i>
              <span class="nav-link-text">Lista de Pacientes</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
